.main-menu {
	background: #F2F2F2;
	border-bottom: 4px solid #3E5577;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			float: left;
			border-left: 1px solid #E6E6E6;
			
			&:last-child {
				border-right: 1px solid #E6E6E6;
			}

			a {
				font-family: $ubuntu;
				display: block;
				line-height: 50px;
				height: 50px;
				font-size: 16px;
				text-transform: uppercase;
				text-decoration: none;
				color: #333;
				padding: 0 20px;
				&:hover {
					background: #f9f9f9;
				}
			}
		}
	}
}